# Pastas de dependências (muito pesadas)
node_modules/

# Arquivo de configuração sensível (onde está sua senha do banco)
.env

# Arquivos de log e erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas de sistema e editores
.vscode/
.idea/
Thumbs.db
.DS_Store

# Pasta de builds (se usar algum framework no futuro)
dist/
build/